body{
  background: #eeeeee;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}@font-face {
    font-family: Mirza;
    src: url("font/mirza.ttf");
}.faFont{
  font-family: ANafis;
}.CPointer{
  cursor: pointer;
}.wob{
  display: initial;
}nav ul{
  list-style: none;
  padding: 0;
}nav ul li a{
  font-size: 18px;
  color: #0f9fc0;
  font-weight: bold;
}nav abbr{
  text-decoration: none;
}footer{
  margin-top:6em;
  background: #0f0f0f;
  box-shadow: 0 -25px 10px #0f0f0f;
}#res pre code{
  font-size: 15px;
}#res pre{
  text-align: center;
  padding-top:50px;
  padding-bottom: 50px;
  overflow: hidden;
}#res p {
  font-size: 18px;
}footer small a{
  color:gray;
}.inc{
  color:white
}.social{
  width:128px;
  height:128px;
}div.githubIcon{
  background-image: url("../images/github.png");
}div.emailIcon{
  background-image: url("../images/email.png");
}div.instagramIcon{
  background-image: url("../images/instagram.png");
}div.telegramIcon{
  background-image: url("../images/telegram.png");
}

div.githubIcon64{
  background-image: url("../images/64/github.png");
}div.emailIcon64{
  background-image: url("../images/64/email.png");
}div.instagramIcon64{
  background-image: url("../images/64/instagram.png");
}div.telegramIcon64{
  background-image: url("../images/64/telegram.png");
}

.sub-footer{
  margin-top:100px;
}.sub-footer h4, .sub-footer h4 *{
  color: white;
}
@media (max-width: 768px){
  .socialIcons{
    display: none;
  }
  nav{ display: none;}
  footer .sub-footer{
     padding-top: 3em;
     padding-bottom: 3em;
  }

}
@media (min-width: 992px) {
  .mobile_nav_button{
    display: none;
  }
  footer{
     padding-top: 6em;
     padding-bottom: 6em;
  }
}
.social{
  transition: all 150ms ease;
    -ms-transform: scale(0.75); /* IE 9 */
  -webkit-transform: scale(0.75); /* Safari */
   transform: scale(0.75);
}.social:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
   transform: scale(1);
}
.mobile_nav{
  background: #0f0f0f;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  color: white;
}
.mobile_nav_button{
  position: absolute;
  top:0;
  right:15px;
  cursor: pointer;
}
.mobile_nav_close_button{
  position: absolute;
  top:0;
  right:25px;
  cursor: pointer;
}
.mobile_nav div.social{
  width: 64px;
  height:64px;
  margin-top:35px;
  float: left;
}
.mobile_nav_social{
  width:260px;
  margin: 35px auto;
  height:115px;
}
.mobile_nav_notes_list ul{
  list-style: none;
}.mobile_nav_notes_list ul abbr{
  text-decoration : none;
}.mobile_nav_notes_list a{
  font-size: 25px;
  color:cadetblue;
  padding: 25px;
}.mobile_nav_by a{
  color:white;
  text-decoration: underline;
}.mobile_nav_by{
  font-size: 20px;
  margin-top: 50px;
}
.homeLink{
  padding-top: 45px;
  text-align: center;
  color: white;
}
#res h1:first-child{
  display: none;
}
hr{
  height: 5px
}
